<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">
</head>
<body>
    <nav>
        <div class="navbar-main">
            <a href="/public">Home</a>
            <a href="/public">Dashboard</a>
        </div>
        <div class="navbar-logout">
            <a href="/logout">Logout</a>
        </div>
    </nav>
    <div class="container">
        <div class="flex">
            <div class="transaction_data">
                <h2 class="heading">Transaction History</h2>
                <div>
                    <table class="transaction_table" id="transaction_data">
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>From</th>
                                <th>To</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="transactions" id="transactions">
                <div class="deposit">
                    <h2>Deposit Amount</h2>
                    <div class="deposit_data">
                        <form id="deposit_form">
                            <label for="deposit_userId">To:</label>
                            <select id="deposit_userId">
                            </select>
                            <label for="deposit_amount">Amount:</label>
                            <input type="text" id="deposit_amount" name="amount"> <br><br>
                            <input type="submit" name="Make Transaction">
                        </form>
                    </div>
                </div>
                <div class="withdraw">
                    <h2>Withdraw Amount</h2>
                    <div class="withdraw_data">
                        <form id="withdraw_form">
                            <label for="withdraw_userId">From:</label>
                            <select id="withdraw_userId">
                            </select>
                            <label for="withdraw_amount">Amount:</label>
                            <input type="text" id="withdraw_amount" name="amount"> <br><br>
                            <input type="submit">
                        </form>
                    </div>
                </div>
                <div class="transfer">
                    <h2>Transfer Amount</h2>
                    <div class="transfer_data">
                        <form id="transfer_form">
                            <label for="transfer_deposit_userId">To:</label>
                            <select id="transfer_deposit_userId" name="to_username">
                            </select>
                            <label for="transfer_withdraw_userId">From:</label>
                            <select id="transfer_withdraw_userId" name="from_username">
                            </select><br><br>
                            <label for="transfer_amount">Amount:</label>
                            <input type="text" id="transfer_amount" name="amount"> <br><br>
                            <input type="submit" name="Make Transaction">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript"  src="/js/transactions.js"></script>
<script type="text/javascript"  src="/js/users.js"></script>
</html>
