:root{
    --body-bg-color: #f1f1f1;
    --heading-color: #78C1F3;
    --hover-bg-color: #c1c1c1;
    font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom right, #4d7fff 0%, #1a56ff 100%);
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background-color: #ddd;
}


* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--body-bg-color);
}
.heading{
    text-align: center;
    color: var(--heading-color);
}

.container{
    margin: 40px;
}

.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.transaction_data{
    margin: 50px;
}

.transaction_data div {
    overflow-y: scroll;
    max-height: 22rem;
    min-height: 1rem;
    box-shadow: rgba(0, 0, 0, 0.19) 0 10px 20px, rgba(0, 0, 0, 0.23) 0 6px 6px;
}

.transaction_data div::-webkit-scrollbar {
    width: 5px;
    height: 7px;
}
.transaction_table thead {
    top: 0;
    position: sticky;
    background-color: #78C1F3;

}
table{
    background-color: var(--heading-color);
    border-radius: 5px;
}

th,td{
    padding: 5px 40px;
    margin: 5px 0;
}
.transactions{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.deposit,.withdraw,.transfer{
    width: 100%;
    margin: 20px;
    background-color: var(--heading-color);
    text-align: center;
    padding: 10px 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0 10px 20px, rgba(0, 0, 0, 0.23) 0 6px 6px;

}

input[type=text]{
    width: 60px;
}

input[type=submit]{
    padding: 10px 20px;
    background-color: var(--body-bg-color);
    border: none;
    border-radius: 5px;
    color: black;
    font-size: 16px;
}

input[type=submit]:hover{
    background-color: var(--hover-bg-color);
}
select{
    width: 20%;
    padding: 5px 10px;
}

select,input{
    margin: 0 10px;
}

#get-mail {
    background-color: var(--heading-color);
    box-shadow: rgba(0, 0, 0, 0.19) 0 5px 5px, rgba(0, 0, 0, 0.23) 0 4px 4px;

}

#get-mail:hover {
    box-shadow: rgba(0, 0, 0, 0.19) 0 10px 20px, rgba(0, 0, 0, 0.23) 0 6px 6px;
}
.mail-btn {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}