:root{
    --body-bg-color: #f1f1f1;
    --heading-color: #78C1F3;
    --hover-bg-color: #c1c1c1;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--body-bg-color);
}
.heading{
    text-align: center;
    color: #78C1F3;
}

.container{
    margin: 40px;
}

.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.transaction_data{
    margin: 50px;
}
table{
    background-color: var(--heading-color);
    border-radius: 5px;
}

th,td{
    padding: 5px 40px;
    margin: 5px 0;
}
.transactions{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.deposit,.withdraw,.transfer{
    width: 100%;
    margin: 20px;
    background-color: var(--heading-color);
    text-align: center;
    padding: 10px 10px;
    border-radius: 10px;
}

input[type=text]{
    width: 60px;
}

input[type=submit]{
    padding: 10px 20px;
    background-color: var(--body-bg-color);
    border: none;
    border-radius: 5px;
    color: black;
    font-size: 16px;
}

input[type=submit]:hover{
    background-color: var(--hover-bg-color);
}
select{
    width: 20%;
    padding: 5px 10px;
}

select,input{
    margin: 0 10px;
}

